@{
    ViewData["Title"] = "Accident Recorded";
}
<!--This is to show the user their accident was added-->
@model intex2.Models.Accident

<h2 class="text-center"> Accident @Model.CRASH_ID added! </h2>
