@{
    ViewData["Title"] = "Delete Confirmation";
}
@model Accident

<!--Confirmation to Delete Page: Notice we used the word YEET-->
<h2 class="text-center"> Yeet Record? </h2>
<h3 class="text-center" > Are you sure you want to yeet record number @Model.CRASH_ID?</h3>

<form method="post" class="text-center" asp-controller="Home" asp-action="Delete">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel </a>

    <input type="hidden" asp-for="CRASH_ID" />


</form>

