@{
    ViewData["Title"] = "Add New Accident";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model intex2.Models.Accident

<!--Form to add accident-->
<div class="container px-5">
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Add new Accident</h1>
        </div>
        <div class="row gx-5 justify-content-center text-center">
            <div class="col-lg-8 col-xl-6">
                <div>
                    <form method="post">
                        <div asp-validation-summary="All"> </div>


                        <input type="hidden" asp-for="CRASH_ID" /><br />

                        <div class="form-group row">
                            <label asp-for="ROUTE" class="col-sm-2 col-form-label">Route: </label>
                            <div class="col-sm-12">
                                <input asp-for="ROUTE" class="form-control">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label asp-for="MILEPOINT" class="col-sm-2 col-form-label">MILEPOINT: </label>
                            <div class="col-sm-12">
                                <input asp-for="MILEPOINT" class="form-control">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label asp-for="LAT_UTM_Y" class="col-sm-2 col-form-label">LAT_UTM_Y: </label>
                            <div class="col-sm-12">
                                <input asp-for="LAT_UTM_Y" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="LONG_UTM_X" class="col-sm-2 col-form-label">LONG_UTM_X: </label>
                            <div class="col-sm-12">
                                <input asp-for="LONG_UTM_X" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="MAIN_ROAD_NAME" class="col-sm-2 col-form-label">MAIN_ROAD_NAME: </label>
                            <div class="col-sm-12">
                                <input asp-for="MAIN_ROAD_NAME" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="CITY" class="col-sm-2 col-form-label">CITY: </label>
                            <div class="col-sm-12">
                                <input asp-for="CITY" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="COUNTY_NAME" class="col-sm-2 col-form-label">COUNTY_NAME: </label>
                            <div class="col-sm-12">
                                <input asp-for="COUNTY_NAME" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="CRASH_SEVERITY_ID" class="col-sm-2 col-form-label">Crash Severity: </label>
                            <div class="col-sm-12">
                                <select asp-for="CRASH_SEVERITY_ID" class="form-control">
                                    <option>Select a Severity Level</option>
                                    <option>No Injury</option>
                                    <option>Possible Injury</option>
                                    <option>Suspected Minor Injury</option>
                                    <option>Suspected Serious Injury</option>
                                    <option>Fatal</option>
                                </select>
                            </div>
                            <br />
                        </div>

                        <div class="form-group row">
                            <label asp-for="WORK_ZONE_RELATED" class="col-sm-2 col-form-label">WORK_ZONE_RELATED: </label>
                            <div class="col-sm-12">
                                <select asp-for="WORK_ZONE_RELATED" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="PEDESTRIAN_INVOLVED" class="col-sm-2 col-form-label">PEDESTRIAN_INVOLVED: </label>
                            <div class="col-sm-12">
                                <select asp-for="PEDESTRIAN_INVOLVED" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="BICYCLIST_INVOLVED" class="col-sm-2 col-form-label">BICYCLIST_INVOLVED: </label>
                            <div class="col-sm-12">
                                <select asp-for="BICYCLIST_INVOLVED" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="MOTORCYCLE_INVOLVED" class="col-sm-2 col-form-label">MOTORCYCLE_INVOLVED: </label>
                            <div class="col-sm-12">
                                <select asp-for="MOTORCYCLE_INVOLVED" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="IMPROPER_RESTRAINT" class="col-sm-2 col-form-label">IMPROPER_RESTRAINT: </label>
                            <div class="col-sm-12">
                                <select asp-for="IMPROPER_RESTRAINT" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="UNRESTRAINED" class="col-sm-2 col-form-label">UNRESTRAINED: </label>
                            <div class="col-sm-12">
                                <select asp-for="UNRESTRAINED" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="DUI" class="col-sm-2 col-form-label">DUI: </label>
                            <div class="col-sm-12">
                                <select asp-for="DUI" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="INTERSECTION_RELATED" class="col-sm-2 col-form-label">INTERSECTION_RELATED: </label>
                            <div class="col-sm-12">
                                <select asp-for="INTERSECTION_RELATED" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="WILD_ANIMAL_RELATED" class="col-sm-2 col-form-label">WILD_ANIMAL_RELATED: </label>
                            <div class="col-sm-12">
                                <select asp-for="WILD_ANIMAL_RELATED" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="DOMESTIC_ANIMAL_RELATED" class="col-sm-2 col-form-label">DOMESTIC_ANIMAL_RELATED: </label>
                            <div class="col-sm-12">
                                <select asp-for="DOMESTIC_ANIMAL_RELATED" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="OVERTURN_ROLLOVER" class="col-sm-2 col-form-label">OVERTURN_ROLLOVER: </label>
                            <div class="col-sm-12">
                                <select asp-for="OVERTURN_ROLLOVER" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED" class="col-sm-2 col-form-label">COMMERCIAL_MOTOR_VEH_INVOLVED: </label>
                            <div class="col-sm-12">
                                <select asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="TEENAGE_DRIVER_INVOLVED" class="col-sm-2 col-form-label">TEENAGE_DRIVER_INVOLVED: </label>
                            <div class="col-sm-12">
                                <select asp-for="TEENAGE_DRIVER_INVOLVED" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="OLDER_DRIVER_INVOLVED" class="col-sm-2 col-form-label">OLDER_DRIVER_INVOLVED: </label>
                            <div class="col-sm-12">
                                <select asp-for="OLDER_DRIVER_INVOLVED" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="NIGHT_DARK_CONDITION" class="col-sm-2 col-form-label">NIGHT_DARK_CONDITION: </label>
                            <div class="col-sm-12">
                                <select asp-for="NIGHT_DARK_CONDITION" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="SINGLE_VEHICLE" class="col-sm-2 col-form-label">SINGLE_VEHICLE: </label>
                            <div class="col-sm-12">
                                <select asp-for="SINGLE_VEHICLE" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="DISTRACTED_DRIVING" class="col-sm-2 col-form-label">DISTRACTED_DRIVING: </label>
                            <div class="col-sm-12">
                                <select asp-for="DISTRACTED_DRIVING" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="DROWSY_DRIVING" class="col-sm-2 col-form-label">DROWSY_DRIVING: </label>
                            <div class="col-sm-12">
                                <select asp-for="DROWSY_DRIVING" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="ROADWAY_DEPARTURE" class="col-sm-2 col-form-label">ROADWAY_DEPARTURE: </label>
                            <div class="col-sm-12">
                                <select asp-for="ROADWAY_DEPARTURE" class="form-control">
                                    <option>Select an option</option>
                                    <option>False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="CRASH_TIME" class="col-sm-2 col-form-label">CRASH_TIME (e.g. 18:20:20) </label>
                            <div class="col-sm-14">
                                <input asp-for="CRASH_TIME" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="DAY" class="col-sm-4 col-form-label">DAY (e.g. 20): </label>
                            <div class="col-sm-12">
                                <input asp-for="DAY" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="MONTH" class="col-sm-4 col-form-label">MONTH (e.g. 1-12): </label>
                            <div class="col-sm-12">
                                <input asp-for="MONTH" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="YEAR" class="col-sm-4 col-form-label">YEAR (e.g. 2020): </label>
                            <div class="col-sm-12">
                                <input asp-for="YEAR" class="form-control">
                            </div>
                        </div>

                        <br />
                        <button type="submit" class="btn btn-primary"> Submit Application</button>


                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
