@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <p>I love this</p>*@

<!-- Header-->

<h1>
    CUT THE CRASH UTAH
</h1>
<div class="container">
    <div class="row">
        <div class="img-container">
            
            <img src="~/img/carcrash.jpeg" />
            <div class="image-overlay op-darkRed text-left">
                <div class="col text-center font-weight-bold">

                </div>
            </div>
        </div>
    </div>
</div>