@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Header-->
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="img/carcrash.jpeg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light text-success">Cut the crash Utah</h1>
            <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
            <a class="btn btn-success" href="#!">Call to Action!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title text-success">Utah Department of public safety</h2>
                    <p class="card-text"> he Utah Department of Public Safety (DPS) is comprised of 11 divisions and bureaus that include the Utah Highway Patrol, the Division of Emergency Management, Driver License division, Statewide Information and Analysis Center (SIAC), State Bureau of Investigation (SBI), State Fire Marshal, Highway Safety Office, Communications, State Crime Lab, Bureau of Criminal Identification, and Peace Officers Standards and Training (POST).</p>
                </div>
                <div class="card-footer"><a class="btn btn-success btn-sm" href="https://highwaysafety.utah.gov">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title text-success">Utah Safety Council</h2>
                    <p class="card-text">Every time you get behind the wheel, getting to and from your destination safely is the number one priority. Over the last 80 years, the Utah Safety Council has continually invested in traffic safety programs to help prevent traffic crashes and reduce collision-related injuries and fatalities on Utah’s roads. The Utah Safety Council’s Traffic Safety Programs provide education and resources to Utah’s community members and businesses to improve driver behaviors.</p>
                </div>
                <div class="card-footer"><a class="btn btn-success btn-sm" href="https://www.utahsafetycouncil.org/content/Traffic-Safety.aspx">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title text-success">Utah Department of Transportation</h2>
                    <p class="card-text">The Utah Department of Transportation is more than just roads. We are responsible for providing transportation choices through a multimodal transportation system that strengthens the economy and enhances quality of life in communities throughout the state. Roads, transit and active transportation must all work together to complement each other.</p>
                </div>
                <div class="card-footer"><a class="btn btn-success btn-sm" href="https://www.udot.utah.gov/connect/">More Info</a></div>
            </div>
        </div>
    </div>
</div>